:root {
    --azul-bonitoxd: #233dc7;
    --background-color: #0c0f17;
    --second-color: #151b28;
    --green-color: #128c40;
    --grey-color: #4a5269;
    --white-color: #fff;
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
        0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
        1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
}

header {
    border-bottom: 2px solid var(--second-color);
    width: 100%;
    height: 6vh;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.icon {
    display: none;
    position: absolute;
}
.icon img {
    width: 3.5rem;
}
.navbar {
    display: flex;
    width: 100%;
    height: 6vh;
}


.options-navbar {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li img {
    width: 2.6rem;
}

.image-perfil {
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
}

/* Perfil */

.perfil {
    display: none;
    position: absolute;
}

.perfil li a img {
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--azul-bonitoxd);
}


/*credit card*/
.credit-card-section {
    margin-top: 1rem;
    width: 90vw;
    height: 80vh;
}
.credit-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    border-radius: 40px;
    width: 100%;
    padding: 2.8rem;
}

.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.credit-card__container .tittle h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
}

.credit-card__container .tittle div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #1A2232;
    border-radius: 10px;
}

.credit-card__container div img {
    width: 2.7rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 1.8rem 0;
}
.credit-card__container .credit-card {
    width: 65%;
    height: 20rem;
    padding: 2.5rem;
    background-image: url(./assets/brackground-credit-card.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 20px;
}
.credit-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.281);
}

.credit-card__container .arrows img {
    width: 1.4rem;
}


.card-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-card__container .card-brand img:nth-child(1) {
    width: 4rem;
}
.credit-card__container .card-brand img:nth-child(2) {
    width: 1.6rem;
    height: 1.6rem;
}
.credit-numbers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.credit-numbers h1 {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 200;
}

.credit-numbers h2 {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 200;
}

/*Balance*/

.balance {
    color: var(--white-color);
    font-weight: 200;
    font-size: 3.8rem;
}


/*Recently Activity*/
.recently-activity-container{
    margin-top: 3rem;
    width: 100%;
    height: auto;
}

.recently-activity__tittle {
    color: var(--white-color);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2.8rem;
}

.recent-activities {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    margin-bottom: 1.2rem;
    align-items: center;
}

.recent-activities figure {
    margin: 0;
}
.recent-activities figure img {
    width: 40px;
    height: 40px;
    border-radius: 14px;
    object-fit: cover;
}
.recent-activities p {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.recent-activities p span{
    font-size: 1.2rem;
}
.recent-activities p span:nth-child(1){
    color: var(--white-color);
}
.recent-activities p span:nth-child(2){
    color: var(--grey-color);
}
.recent-activities p:nth-child(3){
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.4rem;
}

.nike img {
    background-color: #fff;
}


/* Tittle Income & Expenses*/

.income-expenses {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.income-expenses__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income-expense_tittle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.income-expense_tittle h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
}

.income-expense_tittle div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    background-color: #1A2232;
    width: 8rem;
    height: 3.8rem;
    border-radius: 8px;
}
.income-expense_tittle div p {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.income-expense_tittle img {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
}

/*Figure income & expenses*/

.figure__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    background-color: var(--second-color);
    border-radius: 50%;
    gap: 1rem;
    border: 3px solid var(--green-color);
    box-shadow: 0px 0px 14px 0px #128c415b;
}

.figure h1{
    color: var(--white-color);
    font-size: 1.8rem;
}
.figure p{
    color: var(--green-color);
    font-size: 1.4rem;
    font-weight: 600;
}

/*income-outcome container*/

.income-outcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/*Income*/ 

.income__container {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    height: auto;
    background-color: var(--second-color);
    border-radius: 18px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.37);
}

.arrow figure {
    padding: 10px;
    border-radius: 50%;
    border-bottom: 6px solid #128c40;
    border-left: 6px solid #128c40;
    border-right: 6px solid #128c40;
    border-top: 6px solid #0c0f17;
    transform: rotate(-35deg);
}
.arrow figure img {
    width: 18px;
}

.income__text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.income__text h1 {
    color: var(--grey-color);
    font-weight: 200;
    font-size: 1.2rem;
}

.income__text p {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 900;
}

/*Outcome*/ 

.outcome__container {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    height: auto;
    background-color: var(--background-color);
    border-radius: 18px;
    border: 2px solid var(--second-color);
    align-self: flex-end;
}

.outcome__arrow figure {
    padding: 10px;
    border-radius: 50%;
    border-bottom: 6px solid #151B28;
    border-left: 6px solid #151B28;
    border-right: 6px solid var(--azul-bonitoxd);
    border-top: 6px solid #151B28;
    transform: rotate(-35deg);
}
.outcome__arrow figure img {
    width: 18px;
}

.outcome__text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.outcome__text h1 {
    color: var(--grey-color);
    font-weight: 200;
    font-size: 1.2rem;
}

.outcome__text p {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 900;
}

/*income expenses*/



/*income expenses activities*/

.income-expenses__activities {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 16px;
    margin-bottom: 1.2rem;
    align-items: center;
    padding-bottom: .8rem;
    border-bottom: 1px solid var(--second-color);
}

.income-expenses__activities figure {
    margin: 0;
}
.income-expenses__activities figure img {
    width: 30px;
    height: 30px;
    border-radius: 14px;
    object-fit: cover;
}
.income-expenses__activities p{
    font-size: 1.4rem;
    color: var(--grey-color);
}

.income-expenses__activities p:nth-child(4){
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.4rem;
}